.app-scheduler{
    margin: 0  auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 300px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.38);
}
.app-scheduler-heading{
    margin: 25px;
    color: rgba(30, 24, 44, 0.89);
    text-align: center;
}
.app-scheduler-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow: hidden;
}
.app-scheduler-name ,.app-scheduler-email{

    border-radius: 3px;
    margin: 10px 0px;
    width: 300px;
    border: none;
    outline: none;
    height: 20px;
    padding: 10px;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid rgb(236, 236, 236);
}
.app-scheduler-date , .app-scheduler-time{
    border-radius: 3px;
    margin: 10px 10px 10px 0px;
    width: 150px;
    border: none;
    outline: none;
    height: 20px;
    padding: 7px;
    border-bottom: 2px solid rgb(236, 236, 236);
}
.app-scheduler-time{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90px;
}
.app-scheduler-button{
    width: 250px;
    margin: 15px 25px 20px 25px;
    border: none;
    outline: none;
    height: 35px;
    background-color: rgb(22, 23, 56);
    font-weight: bold;
    color: white;
    border-radius: 3px;
}